*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(background1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Broadway;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
}

ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(255, 146, 56);
}

.content {
    text-align: center;
    margin-top: 50px;
}

.content h1 {
    font-size: 40px;
    font-family: 'Times New Roman';
    color: aliceblue;
}

.container th {
    color: rgb(255, 146, 56);
}

.container td{
    color: aliceblue;
}

.button a{
    text-decoration: none;
    background: none;
    display: inline-block;
    color: aliceblue;
    font-size: 20px;
    padding: 14px 30px;
    border-radius: 20px;
}

.content label {
    margin-top: 8px;
    color: aliceblue;
}